{
  "branches": [
    "master"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "issuePrefixes": [
            "D2C-"
          ],
          "issueUrlFormat": "https://dev.azure.com/MarsDevTeam/D2C/_workitems/edit/{{id}}"
        }
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "./CHANGELOG.md"
      }
    ],
    "@semantic-release/github"
  ]
}
